* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
  
  background-color: rgb(250, 243, 221);
  background-image: linear-gradient(#FFC857, #FAF3DD);

  font-family: "Edu AU VIC WA NT Dots", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
}

.trophy-container {
  position: relative;
  width: 400px;
  height: 600px;
  margin: auto;
}

.line {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  transform-origin: center;
}

.line1 { top: 10px; left: 0; }
.line2 { top: 40px; left: 20px; }
.line3 { top: 70px; left: 40px; }
.line4 { top: 100px; left: 60px; }
.line5 { top: 130px; left: 60px; }
.line6 { top: 160px; left: 80px; }
.line7 { top: 190px; left: 100px; }
.line8 { top: 220px; left: 80px; }
.line9 { top: 250px; left: 60px; }
.line10 { top: 280px; left: 40px; }
.line11 { top: 310px; left: 20px; }
.line12 { top: 340px; left: 0; }
.line13 { top: 370px; left: 10px; }
.line14 { top: 400px; left: 0; text-decoration: underline; 

}

a {
  color: darkcyan;
  text-shadow: 5px 5px #FAF3DD;
}



