* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
  background-color: rgb(250, 243, 221);
  background-image: linear-gradient(#FFC857, #FAF3DD);

  font-family: "Edu AU VIC WA NT Dots", serif;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  border: 1px thin solid black;
  text-align: center;
  text-transform: uppercase;
}

body {

    width: 100%;
    min-height: 100vh;
}

h1 { 

  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 50px;
  text-align: center;

  padding-top: 35%;
}


a {
  color: darkcyan;
  text-shadow: 5px 5px #FAF3DD;
}

#champions {
  display: inline-block;
  transition-duration: 20s;
  transition: transform 0.3 ease-in-out, color 1s;
  cursor: pointer;
}

#champions:hover {

   transform: translateY(30px);
}

.confetti-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.confetti {
position: absolute;
width: 10px;
height: 15px;
background-color: #FF5733;
animation: fall linear infinite;
}

.piece1 {
left: 10%;
animation-duration: 3s;
}

.piece2 {
left: 30%;
background-color: #33FF57;
animation-duration: 4s;
}

.piece3 {
left: 50%;
background-color: #3357FF;
animation-duration: 5s;
}

.piece4 {
left: 70%;
background-color: #FFC300;
animation-duration: 6s;
}

.piece5 {
left: 90%;
background-color: #DAF7A6;
animation-duration: 3.5s;
}

.piece6 {
left: 80%;
background-color: #FF33B5;
animation-duration: 4.5s;
}


.piece7 {
left: 10%;
animation-duration: 3s;
}

.piece8 {
left: 30%;
background-color: #33FF57;
animation-duration: 4s;
}

.piece9 {
left: 50%;
background-color: #3357FF;
animation-duration: 5s;
}

.piece10 {
left: 70%;
background-color: #FFC300;
animation-duration: 6s;
}

.piece11 {
left: 90%;
background-color: #DAF7A6;
animation-duration: 3.5s;
}

.piece12 {
left: 80%;
background-color: #FF33B5;
animation-duration: 4.5s;
}


@keyframes fall {
0% {
  top: -10px;
  transform: rotate(0deg);
}
50% {
  transform: rotate(180deg);
}
100% {
  top: 100vh;
  transform: rotate(360deg);
 }
}